html,body{
    height: 99vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img{
    border-radius: 50%;
    width: 250px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }